# Match at any level.

# emacs
*~
lib/tools/emacs/*.elc
TAGS
# vim
.*.sw[a-z]

autom4te.cache
*.beam
*.asn1db

!/bootstrap/lib/compiler/ebin/*.beam
!/bootstrap/lib/kernel/ebin/*.beam
!/bootstrap/lib/stdlib/ebin/*.beam
!/erts/preloaded/ebin/*.beam
!/lib/*/test/*_SUITE_data/*.beam

#
# Generated source code files.
#
/bootstrap/lib/compiler/egen
/bootstrap/lib/stdlib/egen
/lib/stdlib/src/unicode_util.erl

# Compiler derivatives
#
# Do not use too creative wildcards.
# Those might ignore files that should not be ignored.

armv7l-unknown-linux-gnueabihf
i686-pc-linux-gnu
x86_64-unknown-linux-gnu
i386-apple-darwin[0-9]*.[0-9]*.[0-9]*
x86_64-apple-darwin[0-9]*.[0-9]*.[0-9]*
sparc-sun-solaris[0-9]*.[0-9]*
i386-pc-solaris[0-9]*.[0-9]*
i386-unknown-freebsd[0-9]*.[0-9]*
tile-tilera-linux-gnu
powerpc-unknown-linux-gnu
aarch64-unknown-linux-gnu
i386-elf-ose
powerpc-unknown-ose

# Mac OS X
a.out.dSYM/

# Windows
*.pdb
tcltk85_win32_bin.tar.gz
erts/autoconf/win32.config.cache
erts/emulator/obj/
erts/emulator/pcre/obj/
erts/emulator/pcre/win32/
erts/emulator/win32/
erts/emulator/zlib/obj/
erts/emulator/zlib/win32/
erts/epmd/src/win32/
erts/etc/common/Install.ini
erts/etc/common/win32/
erts/etc/win32/cygwin_tools/vc/coffix.exe
erts/include/internal/win32/
erts/include/win32/
erts/lib/internal/win32/
erts/lib/win32/
erts/lib_src/obj/
erts/lib_src/win32/
erts/obj/win32/
erts/win32/
erts/etc/win32/nsis/erlang.nsh
lib/asn1/priv/lib/
lib/asn1/priv/obj/
lib/common_test/priv/win32/
lib/crypto/c_src/win32/
lib/crypto/priv/lib/
lib/crypto/priv/obj/
lib/erl_interface/obj.md/
lib/erl_interface/obj.mdd/
lib/erl_interface/src/win32/
lib/gs/priv/tcl/
lib/gs/tcl/binaries/
lib/ic/c_src/win32/
lib/ic/priv/lib/win32/
lib/ic/priv/obj/win32/
lib/megaco/src/flex/win32/
lib/odbc/c_src/win32/
lib/odbc/priv/bin/odbcserver.exe
lib/odbc/priv/obj/win32/odbcserver.o
lib/orber/c_src/win32/
lib/os_mon/c_src/win32/
lib/os_mon/priv/bin/win32/
lib/os_mon/priv/obj/win32/
lib/runtime_tools/c_src/win32/
lib/runtime_tools/priv/lib/
lib/runtime_tools/priv/obj/
lib/tools/bin/win32/
lib/tools/c_src/win32/
lib/tools/obj/win32/
lib/wx/c_src/win32/
lib/wx/priv/win32/
lib/wx/win32/
make/win32/
make/otp_built
make/otp_doc_built

# OSE
*.d

# Used by ic & orber & cos* applications.
IDL-GENERATED

# Used by applications that run javadoc (e.g. ic).
JAVADOC-GENERATED

# Anchored from $ERL_TOP
/bin
/config.log
/config.status

/bootstrap/bin/*
/bootstrap/target
!/bootstrap/bin/*.boot

/bootstrap/lib/asn1
/bootstrap/lib/common_test
/bootstrap/lib/edoc
/bootstrap/lib/erl_docgen
/bootstrap/lib/hipe
/bootstrap/lib/ic
/bootstrap/lib/orber
/bootstrap/lib/parsetools
/bootstrap/lib/runtime_tools
/bootstrap/lib/sasl
/bootstrap/lib/snmp
/bootstrap/lib/syntax_tools
/bootstrap/lib/test_server
/bootstrap/lib/wx
/bootstrap/lib/xmerl

/Makefile
/configure

/release

/make/output.mk
/make/emd2exml
/make/make_emakefile

# Created by "out_build update_primary"
/bootstrap/primary_compiler/

# General patterns for applications in lib.
#
# Assume that all test/Emakefiles are generated.
#
# Any application with a checked-in test/Emakefile should
# use a negative pattern in its own .gitignore.

/lib/*/ebin/*.app
/lib/*/ebin/*.appup

/lib/*/test/Emakefile
/erts/epmd/test/Emakefile

/lib/*/SKIP
/lib/SKIP-APPLICATIONS

/lib/*/doc/html/*.html
/lib/*/doc/html/*.css
/lib/*/doc/html/js
/lib/*/doc/html/*.gif
/lib/*/doc/html/*.jpg
/lib/*/doc/html/*.png
/lib/*/doc/html/*.eix
/lib/*/doc/man[0-9]/*.[0-9]
/lib/*/doc/pdf/*.fo
/lib/*/doc/pdf/*.pdf
/lib/*/doc/xml/*.xml

/lib/configure
/lib/config.log
/lib/config.status

#
# Files generated by configure.
#

/lib/*/config.log
/lib/*/config.status

#
# Files generated by "./otp_build autoconf"
#

/lib/*/configure
/lib/common_test/test_server/configure
/lib/configure.in
/aclocal.m4
/lib/common_test/priv/auxdir/config.guess
/lib/common_test/priv/auxdir/config.sub
/lib/common_test/priv/auxdir/install-sh
/lib/erl_interface/aclocal.m4
/lib/erl_interface/src/auxdir/config.guess
/lib/erl_interface/src/auxdir/config.sub
/lib/erl_interface/src/auxdir/install-sh
/lib/erl_interface/config.h.in
/lib/megaco/aclocal.m4
/lib/odbc/aclocal.m4
/lib/common_test/test_server/config.guess
/lib/common_test/test_server/config.sub
/lib/common_test/test_server/install-sh
/lib/wx/aclocal.m4
/lib/wx/autoconf/config.guess
/lib/wx/autoconf/config.sub
/lib/wx/autoconf/install-sh

#
# Files generated when building/running tests (especially if
# a directory in $ERL_TOP/release/tests has been symlinked to
# a test directory in lib).
#

/lib/*/test/*_SUITE_make.erl
/lib/*/test/*_SUITE_data/Makefile
/erts/emulator/test/*_SUITE_make.erl
/erts/emulator/test/*_native_SUITE.erl
/erts/emulator/test/*_SUITE_data/Makefile
/erts/test/install_SUITE_data/install_bin
/erts/test/autoimport_SUITE_data/erlang.xml

# asn1

/lib/asn1/test/asn1_SUITE.erl
/lib/asn1/test/asn1_bin_SUITE.erl
/lib/asn1/test/asn1_bin_v2_SUITE.erl

# common_test

/lib/common_test/priv/install.sh

# compiler

/lib/compiler/src/beam_opcodes.erl
/lib/compiler/src/beam_opcodes.hrl
/lib/compiler/src/core_parse.erl

/lib/compiler/test/*_no_opt_SUITE.erl
/lib/compiler/test/*_post_opt_SUITE.erl
/lib/compiler/test/*_inline_SUITE.erl

# crypto
/lib/crypto/test/crypto_SUITE_data/*.rsp
/lib/crypto/test/crypto_SUITE_data/aesval.html

# debugger

/lib/debugger/doc/html/images/*.jpg

# edoc

/lib/edoc/src/edoc_parser.erl

# erts

/erts/info
/erts/doc/html/*.html
/erts/doc/html/*.gif
/erts/doc/html/*.jpg
/erts/doc/html/*.eix
/erts/doc/pdf/*.fo
/erts/doc/pdf/*.pdf
/erts/doc/xml/*.xml
/erts/doc/man[0-9]/*.[0-9]
/erts/doc/CONF_INFO

# et

/lib/et/doc/html/*.png

# gs

/lib/gs/src/gstk_generic.hrl
/lib/gs/contribs/ebin/*.gif
/lib/gs/contribs/ebin/*.tool
/lib/gs/doc/html/images/*.gif
/lib/gs/tcl/win32/Makefile

# hipe

/lib/hipe/boot_ebin/hipe.app
/lib/hipe/boot_ebin/hipe.appup
/lib/hipe/main/hipe.hrl
/lib/hipe/rtl/hipe_literals.hrl

# ic

/lib/ic/examples/pre_post_condition/m.hrl
/lib/ic/examples/pre_post_condition/m_i.erl
/lib/ic/examples/pre_post_condition/m_i.hrl
/lib/ic/examples/pre_post_condition/m_NotAnInteger.erl
/lib/ic/examples/pre_post_condition/oe_ex.erl
/lib/ic/examples/pre_post_condition/oe_ex.hrl
/lib/ic/priv/com/
/lib/ic/priv/ic.jar
/lib/ic/src/icparse.erl
/lib/ic/doc/html/java
/lib/ic/java_src/SKIP

# jinterface

/lib/jinterface/priv/OtpErlang.jar
/lib/jinterface/priv/com/
/lib/jinterface/doc/html/java
/lib/jinterface/pom.xml
/lib/jinterface/target

# kernel

/lib/kernel/src/inet_dns_record_adts.hrl

# kernel

/lib/mnesia/test/Mnesia.*
/lib/mnesia/test/test_log*

# otp_mibs

/lib/otp_mibs/include/OTP*.hrl
/lib/otp_mibs/mibs/v1/OTP*.mib.v1
/lib/otp_mibs/priv/mibs/OTP*.bin

# os_mon

/lib/os_mon/include/OTP*.hrl
/lib/os_mon/mibs/v1/OTP*.mib.v1
/lib/os_mon/priv/mibs/OTP*.bin

# ssh

/lib/ssh/src/*.asn1db
/lib/ssh/src/DSS.erl
/lib/ssh/src/DSS.hrl
/lib/ssh/src/PKCS-1.erl
/lib/ssh/src/PKCS-1.hrl

# stdlib

/lib/stdlib/src/erl_parse.erl

# snmp

/lib/snmp/bin/snmp-v2tov1
/lib/snmp/bin/snmpc
/lib/snmp/examples/ex1/EX1-MIB.bin
/lib/snmp/mibs/Makefile
/lib/snmp/mibs/v1/OTP-SNMPEA-MIB.mib.v1
/lib/snmp/src/compile/snmpc_mib_gram.erl
/lib/snmp/include/[A-Z]*.hrl
/lib/snmp/priv/mibs/[A-Z]*.bin
/lib/snmp/test/snmp_test_data/[A-Z]*.bin
/lib/snmp/test/snmp_test_data/[A-Z]*.hrl
/lib/snmp/doc/intex.html

# system

/system/doc/pdf
/system/doc/html
/system/doc/xml
/system/doc/top/PR.template
/system/doc/top/erlresolvelinks.js

# test_server

/lib/test_server/src/configure

# tools

/lib/tools/src/xref_parser.erl

# wx

/lib/wx/c_src/Makefile
/lib/wx/config.mk
/lib/wx/api_gen/wx_xml/*
/lib/wx/api_gen/gl_xml/*
/lib/wx/api_gen/??_doxygen
/lib/wx/api_gen/*_generated
/lib/wx/wx-*.ez
/lib/wx/CONF_INFO
/lib/wx/doc/src/ref_man.xml
/lib/wx/priv/wxe_driver.*
/lib/wx/priv/erl_gl.*

# xmerl

/lib/xmerl/src/xmerl_sax_parser_*.erl
/lib/xmerl/src/xmerl_b64Bin.erl
/lib/xmerl/src/xmerl_xpath_parse.erl
/lib/xmerl/test/xmerl_test.erl
