<egil@erlang.org> <psyeugenic@gmail.com>
<kostis@cs.ntua.gr> <kostis@it.uu.se>
<raimo@erlang.org> <raimo.niskanen@ericsson.com>
<lukas@erlang.org> <lukas.larsson@erlang-solutions.com>
<lukas@erlang.org> <lukas@erix.ericsson.se>
<kjell@erlang.org> <kjellwinblad@gmail.com>
