<egil@erlang.org> <psyeugenic@gmail.com>
<kostis@cs.ntua.gr> <kostis@it.uu.se>
<raimo@erlang.org> <raimo.niskanen@ericsson.com>
<lukas@erlang.org> <lukas@erlang-solutions.com>
<lukas@erlang.org> <garazdawi@gmail.com>
<lars@erlang.org> <lars.thorsen@ericsson.com>
<dgud@erlang.org> <dgud@ubuntu.>
