# %CopyrightBegin%
#
# SPDX-License-Identifier: Apache-2.0
#
# Copyright Ericsson AB 1996-2025. All Rights Reserved.
#
# %CopyrightEnd%

apps_dirs:
  - "lib/*"
  - "erts/preloaded"
include_dirs:
  - "lib/*/src"
  - "lib/*/include"
  - "erts/preloaded/src"
diagnostics:
  enabled:
    - bound_var_in_pattern
