%% -*- erlang -*-

%%% Change these to suite the environment. See the inet_SUITE for info about
%%% what they are used for.
%%% test_hosts are looked up using "ypmatch xx yy zz hosts.byname"
%{test_hosts,[my_ip4_host]}.

%% IPv4 host only - no ipv6 entry must exist!
%{test_host_ipv4_only,
% {"my_ip4_host",				%Short hostname
%  "my_ip4_host.mydomain.com",			%Long hostname
%  "10.10.0.1",				        %IP string
%  {10,10,0,1},				        %IP tuple
%  ["my_ip4_host"],				%Any aliases
%  "::ffff:10.10.0.1",			        %IPv6 string (compatibility addr)
%  {0,0,0,0,0,65535,2570,1}		        %IPv6 tuple
% }}.

%{test_dummy_host, {"dummy",
%		   "dummy.mydomain.com",
%		   "192.168.0.1",
%		   {192,168,0,1},
%		   ["dummy"],
%		   "::ffff:192.168.0.1",
%		   {0,0,0,0,0,65535,49320,1}
%		  }}.


%%% test_hosts are looked up using "ypmatch xx yy zz ipnodes.byname"
%{ipv6_hosts,[my_ip6_host]}.


%{test_host_ipv6_only,
% {"my_ip6_host",				%Short hostname
%  "my_ip6_host.mydomain.com",		        %Long hostname
%  "::2eff:f2b0:1ea0",			        %IPv6 string
%  {0,0,0,0,0,12031,62128,7840},		%IPv6 tuple
%  ["my_ip6_host"]				%Aliases.
% }}.

%{test_dummy_ipv6_host, {"dummy6",
%			"dummy6.mydomain.com",
%			"127::1",
%			{295,0,0,0,0,0,0,1},
%			["dummy6-ip6"]
%		       }}.

%% Used by erl_interface tests
%% Known hostname with an unreachable ip
%{test_host_not_reachable, "ghost.mydomain.com"}.
