/Makefile
/configure
/config.log
/config.status
/config.h.in

/start_scripts/RELEASES.src
/start_scripts/*.rel
/start_scripts/*.boot
/start_scripts/*.script

/etc/common/Install
/etc/common/erl.src
/etc/unix/etp-commands

/test/Emakefile
/test/*.beam

/emulator/test/Emakefile
/emulator/test/*.beam
/emulator/test/*_no_opt_SUITE.erl

/emulator/pcre/pcre_exec_loop_break_cases.inc
/emulator/beam/erl_db_insert_list.ycf.h
