%% Default Keymap template
%% This is a keymap that corresponds to what was previously
%% configured in edlin, now moved to edlin_key.erl.

[{stdlib, [{shell_keymap,#{normal => #{
%% Enter
"\n" => new_line_finish,
"\r" => new_line_finish,
%%% Alt-Enter or Esc + Enter
"\^[\n" => new_line,
"\^[\r" => new_line,

%% Tab ^I
"\t" => tab_expand,

%% Ctrl-alpha keys 0-31
"\^A" => beginning_of_line,
"\^B" => history_up,
%"\^C" => sig_term_menu,    %% cannot be changed, yet
"\^D" => forward_delete_char,
"\^E" => end_of_line,
"\^F" => forward_char,
%^G" => jcl_menu,         %% cannot be changed, yet
"\^H" => backward_delete_word,
%^I" => tab_expand,       %% same as \t
%^J" => new_line_finish,  %% same as \n
"\^K" => kill_line,
"\^L" => clear,
%^M" => new_line_finish,  %% same as \r
"\^N" => history_down,
"\^O" => open_editor,
"\^P" => history_up,
"\^Q" => none,
"\^R" => search,
"\^S" => none,
"\^T" => transpose_char,
"\^U" => backward_kill_line,
"\^V" => none,
"\^W" => backward_kill_word,
"\^X" => none,
"\^Y" => yank,
%^Z" => sig_stop,       %% cannot be changed, yet
%"\^[" => meta,           %% cannot be changed
"\^]" => auto_blink,
"\^@" => none,
"\^\" => none,
"\^^" => none,
"\^_" => none,

%% test f1-f12
"\^[OP" => clear,
"\^[[1;5P" => clear,
"\^[[15~" => clear,
"\^[[15;5~" => clear,

%% Alt-alpha_key or Esc + alpha_key, can distinguish case
%"\^[A
"\^[B" => backward_word,
"\^[b" => backward_word,
%"\^[C
"\^[D" => kill_word,
"\^[d" => kill_word,
%"\^[E
"\^[F" => forward_word,
"\^[f" => forward_word,
%"\^[G
%"\^[H
%"\^[I
%"\^[J
%"\^[K
"\^[L" => redraw_line,
"\^[l" => redraw_line,
%"\^[M
%"\^[N
"\^[o" => open_editor,
%"\^[P
%"\^[Q
%"\^[R
%"\^[S
"\^[T" => transpose_word,
"\^[t" => transpose_word,
%"\^[U
%"\^[V
%"\^[W
%"\^[X
%"\^[Y
%"\^[Z
"\^[<" => beginning_of_expression,
"\^[>" => end_of_expression,


%% Deletion keys
%% Backspace
"\^?" => backward_delete_char,
%% Ctrl+Backspace
"\^[\^?" => backward_kill_word,
%% Del
"\^[[3~" => forward_delete_char,
"\^[[3;5~" => forward_delete_word,

%% Navigation keys
%% Home
"\^[[H" => beginning_of_line,
"\^[OH" => beginning_of_line,

%% End
"\^[[F" => end_of_line,
"\^[OF" => end_of_line,

%% Arrow keys
%% Up
"\^[OA" => backward_line,
"\^[[A" => backward_line,
"\^[[1;3A" => history_up,
"\^[[1;5A" => history_up,
"\^[[1;4A" => beginning_of_expression,

%% Down
"\^[OB" => forward_line,
"\^[[B" => forward_line,
"\^[[1;3B" => history_down,
"\^[[1;5B" => history_down,
"\^[[1;4B" => end_of_expression,

%% Left
"\^[OD" => backward_char,
"\^[[D" => backward_char,
"\^[[3D" => backward_word,
"\^[[1;3D" => backward_word,
"\^[[5D" => backward_word,
"\^[[1;5D" => backward_word,

%% Right
"\^[OC" => forward_char,
"\^[[C" => forward_char,
"\^[[3C" => forward_word,
"\^[[1;3C" => forward_word,
"\^[[5C" => forward_word,
"\^[[1;5C" => forward_word,

%% By default, if there is a key that is not mapped in the keymap, map it to none
default => none},

search => #{
"\^R" => skip_up,
"\^S" => skip_down,
"\^Q" => search_cancel,
"\^[c" => search_cancel,
"\n" => search_found,
"\r" => search_found,
"\^H" => backward_delete_char,
"\^?" => backward_delete_char,
default => search_quit},

tab_expand => #{
"\t" => tab_expand_full,
default => tab_expand_quit}}}]}].