%% -*- erlang -*-
{ipv6_hosts,[otptest06,otptest08,sauron,iluvatar]}.

%%% Change these to suite the environment.
%%% test_hosts are looked up using "ypmatch xx yy zz hosts"
{test_hosts,
 [bingo, hurin, turin, gandalf, super,
  merry, nenya, sam, elrond, isildur]}.

%% IPv4 host only - no ipv6 entry must exist!
{test_host_ipv4_only,
 {"isildur",					%Short hostname
  "isildur.du.uab.ericsson.se",			%Long hostname
  "134.138.177.24",				%IP string
  {134,138,177,24},				%IP tuple
  ["isildur"],					%Any aliases
  "::ffff:134.138.177.24",			%IPv6 string (compatibilty addr)
  {0,0,0,0,0,65535,34442,45336}			%IPv6 tuple
 }}.

{test_host_ipv6_only,
 {"otptest06",					%Short hostname
  "otptest06.du.uab.ericsson.se",		%Long hostname
  "fec0::a00:20ff:feb2:b4a9",			%IPv6 string
  {65216,0,0,0,2560,8447,65202,46249},		%IPv6 tuple
  ["otptest06-ip6"]				%Aliases.
 }}.



{test_dummy_host, {"dummy",
		   "dummy.du.uab.ericsson.se",
		   "192.138.177.1",
		   {192,138,177,1},
		   ["dummy"],
		   "::ffff:192.138.177.1",
		   {0,0,0,0,0,65535,49290,45313}
		  }}.

{test_dummy_ipv6_host, {"dummy6",
			"dummy6.du.uab.ericsson.se",
			"fec0::a00:20ff:feb2:6666",
			{65216,0,0,0,2560,8447,65202,26214},
			["dummy6-ip6"]
		       }}.
