%% -*- erlang -*-

%%% There is no equivalent command to ypmatch on Win32... :-(
{hardcoded_hosts,
 [{"134.138.177.24","isildur"},
  {"134.138.177.72", "elrond"},
  {"134.138.176.215", "nenya"},
  {"134.138.176.192", "merry"},
  {"134.138.176.16", "super"},
  {"134.138.177.16", "gandalf"},
  {"134.138.177.92", "turin"}]}.

{hardcoded_ipv6_hosts,
 [{"fe80::a00:20ff:feb2:b4a9","otptest06"},
  {"fe80::a00:20ff:feb2:a621","otptest08"}]}.
