    BODY          { background: white }

    BODY          { font-family: Verdana, Arial, Helvetica, sans-serif }
    TH            { font-family: Verdana, Arial, Helvetica, sans-serif }
    TD            { font-family: Verdana, Arial, Helvetica, sans-serif }
    P             { font-family: Verdana, Arial, Helvetica, sans-serif }

    .header       { background: #222; color: #fff }
    .top          { background: #efe }
    .otp          { background: #efe }
    .erlang       { background: #ffe }
    .otp2          { background: #efe }
    .app          { background: #ffe }

    a:link         { color: blue; text-decoration: none }
    a:active       { color: blue; text-decoration: none }
    a:visited      { color: blue; text-decoration: none }
    body       {
			margin: 0;
			padding: 0;
			border: 0;
			overflow: scroll;
			height: 100%;
			max-height: 100%
		   }
	#container {
			width: 100%;
			margin: 10px auto;
			background-color: #fff;
		   }
    	#leftnav   {
			float: left;
			width: 200px;
			margin: 0;
			padding: 1em;
		   }
    	#content   {
			margin-left: 220px; /* set left value to WidthOfFrameDiv */
			border-left: 1px solid red;
		   }

	.innertube {
			margin: 15px; /* Magins for inner DIV inside each DIV (to provide padding) */
	}

	* html body{ /* IE6 hack */
	padding: 0 0 0 200px; /* Set value to (0 0 0 WidthOfFrameDiv)*/
	}
	* html #maincontent{ /* IE6 hack*/
	height: 100%;
	width: 100%;
	}

